div.header-home *, nav.header-navigation *{
  font-family: "UnifrakturCook", serif;
  background: linear-gradient(135deg, #c975b7, #cc71bd);
  color: white;
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(119, 27, 99, 0.5);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  margin: 1vw; 
  text-decoration: none;
}

div.header-home *:hover, nav.header-navigation *:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgb(217, 80, 252);
  background: linear-gradient(135deg, #fca1a1, #fa8e8e);
}
.button, button {
  font-family: "UnifrakturCook", serif;
  background: linear-gradient(135deg, #c97575, #cc7171);
  color: white;
  font-size: 1.3rem;
  margin:10px;
  border-color: #c975b7;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(119, 27, 27, 0.5);
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.button:hover, button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 20px rgb(217, 80, 252);
  background: linear-gradient(135deg, #fca1a1, #fa8e8e);
}




