.gothic-font {
  font-family: "UnifrakturCook", serif;
}

.card {
  width: 240px;
  height: 240px;
  background-color: #FAF1D6;
  border: 2px solid #ff88eb;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: serif;
  position: relative;
  overflow: hidden;
}


.title {
  font-family: "UnifrakturCook", serif;
  font-size: 2em;
  font-weight: bold;
  color: #000000;
  margin-bottom: 12px;
}

/* .description {
  font-size: 14px;
  color: #000000;
  font-style: italic;
  padding: 8px;
} */

.text {
  font-family: "UnifrakturCook", serif;
  color: #000000;
  font-size: 1em;
  margin: 5px 0;
}
