.gothic-font {
  font-family: "UnifrakturCook", serif;
}

.card {
  width: 240px;
  height: 240px;
  background-color: #FAF1D6;
  border: 2px solid #4A4A4A;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: serif;
  position: relative;
  overflow: hidden;
}


.title {
  font-family: "UnifrakturCook", serif;
  font-size: 24px;
  font-weight: bold;
  color: #3D3D3D;
  margin-bottom: 12px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.image {
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 16px;
}

.description {
  font-size: 14px;
  color: #4A4A4A;
  font-style: italic;
  padding: 8px;
}

.text {
  font-family: "UnifrakturCook", serif;
  color: #353535;
  font-size: 14px;
  margin: 5px 0;
}
